<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="userDao" class="com.axon.springframework.bean.step7.impl.UserDao"></bean>

    <bean id="userServiceImpl" class="UserServiceImpl">
        <property name="uId" value="100001"></property>
        <property name="userDao"  ref="userDao"></property>
    </bean>
</beans>