<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean class="com.bugstack.springframework.step10.ContextClosedEventListener"></bean>
    <bean class="com.bugstack.springframework.step10.ContextRefreshedEventListener"></bean>
    <bean class="com.bugstack.springframework.step10.CustomEventListener"></bean>
</beans>